* {
    margin: 0;
    padding: 0;
}

body {
    padding-left: 50px;
    padding-right: 50px;
    background-color:rgba(236, 165, 22, 0.727);
}

table,
        th,
        td {
            border: 2px solid black;
        }

        p {
            color: rgb(21, 0, 139)
        }

        h1 {
            font-size:70px; color:rgb(21, 0, 139);
            padding: 20px 0 20PX 0;
        }

        figcaption {
            color: green;
            font-weight: bold;
            font-size: 19px;
            padding-top: 20px;
        }

#list {
    font-size: 19px;
    padding: 20px 0 20PX 0;
}

