* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.image-container {
    position: relative;
    width: 100%;
}

.image-container img {
    width: 100%;
    height: auto;
}

.image-container h1 {
    position: absolute;
    top: 15px;
    left: 30px;
    color: rgb(32, 0, 128);
    font-size: 70px;
    margin: 0;
    padding: 0;
}

.main_content {
    padding: 20px 30px 0px 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

table {
    width: 67.67%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: blanchedalmond;
}

th,
td {
    border: 2px solid black;
    padding: 8px;
    text-align: center;
}

p {
    color: black;
    margin: 15px 0;
}

figcaption {
    color: green;
    font-weight: bold;
    font-size: 19px;
    padding: 10px 0 0 30px;
}

#planet_list {
    font-size: 19px;
    padding: 20px 0;
    color: rgb(32, 0, 128);
}

#dwarf_planets {
    font-size: 19px;
    padding: 20px 0;
    color: rgb(32, 0, 128);
    text-align: center;
}

ul {
    list-style-type:decimal ;
    padding: 0;
    margin: 15px 0;
}

ul > li {
    margin: 5px 0;
}

ul > li > ul {
    list-style-type: disc;
    padding-left: 30px;
}
